#welcome-container {
  margin: auto;
  display: flex;
  height: 1000px;
  width: 100vw;
  flex-direction: column;
  align-content: center;
  background-color: rgb(211, 160, 20);
  #h1-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: center;

    h1 {
      display: flex;
      font-size: 50px;
      text-align: left;
      margin-bottom: 5px;
      padding: 20px;
      width: 250px;
      transition: 0.5s;
      border: 2px solid white;
    }
    h1:hover {
      text-shadow: 3px 3px 2px rgb(211, 160, 20);
      background-color: black;
    }
  }

  h2 {
    text-align: left;
  }
}
