@keyframes transitionIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes transitionOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.App {
  padding-top: 25px;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(211, 160, 20);
  align-items: center;
  font-family: helvetica, sans-serif;
  text-shadow: 2px 2px 1px black;
  min-height: 100vh;
}

h3 {
  color: white;
  text-decoration: none;
  list-style: none;
}

img {
  height: 150px;
  padding-right: 10px;
  // margin-bottom: -45px;
}

#deskNav {
  display: flex;
  flex-direction: column;

  #desk-ul {
    display: flex;
    padding-right: 15px;
    align-items: center;
    justify-content: flex-end;
    background-color: white;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    height: 60px;
    h3 {
      display: flex;
      align-items: center;
      color: black;
      padding-right: 15px;
      padding-left: 10px;
      text-shadow: 2px 1px 2px rgb(211, 160, 20);
      transition: 0.25s;
      margin-left: 1px;
      margin-right: 1px;
      height: 50px;
    }
    h3:hover {
      color: white;
      border: 2px solid black;
      text-shadow: 2px 2px 1px black;
      background-color: rgb(211, 160, 20);
    }
  }
}

@media only screen and (max-width: 768px) {
  #deskNav {
    display: flex;
    flex-direction: column;
    #desk-ul {
      display: none;
      justify-content: flex-end;
      background-color: white;
      border: 5px solid black;
      h3 {
        color: black;
        padding-right: 15px;
        text-shadow: 2px 1px 2px rgb(211, 160, 20);
      }
    }
  }
}
