@keyframes transitionIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes transitionOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.App {
  padding-top: 25px;
  text-align: center;
  width: 100vw;
  background-color: rgb(211, 160, 20);
  align-items: center;
  font-family: helvetica, sans-serif;
  border: 2px solid black;
  text-shadow: 2px 2px 1px black;
}

h3 {
  color: white;
  text-decoration: none;
  list-style: none;
}

img {
  height: 200px;
  padding-right: 10px;
  margin-bottom: -45px;
}

#deskNav {
  display: flex;
  flex-direction: column;

  #desk-ul {
    display: flex;
    padding-right: 15px;
    align-items: center;
    justify-content: flex-end;
    background-color: white;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    height: 60px;
    h3 {
      display: flex;
      align-items: center;
      color: black;
      padding-right: 15px;
      padding-left: 10px;
      text-shadow: 2px 1px 2px rgb(211, 160, 20);
      transition: 0.25s;
      margin-left: 1px;
      margin-right: 1px;
      height: 50px;
    }
    h3:hover {
      color: white;
      border: 2px solid black;
      text-shadow: 2px 2px 1px black;
      background-color: rgb(211, 160, 20);
    }
  }
}

#burger {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
  width: 100%;
  height: 55px;
  margin-top: 15px;
  background-color: white;
  border-top: 5px solid black;
  border-bottom: 5px solid black;

  #burger-span {
    margin-right: 20px;
    margin-top: 15px;
  }
  #burger-span span {
    height: 3px;
    width: 30px;
    margin-bottom: 5px;
    display: block;
    background-color: rgb(211, 160, 20);
    box-shadow: 2px 2px rgb(141, 141, 141);
  }
}

#burger-menu {
  display: flex;
  position: relative;
  #closed-burger-menu-list {
    display: none;
  }
  .burger-menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    height: 50px;
    font-size: 20px;
    width: 80%;
    border: 5px solid rgb(211, 160, 20);
    color: rgb(211, 160, 20);
    text-shadow: 2px 2px 1px rgb(141, 141, 141);
  }
}

#open {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  margin-left: -10px;
  margin-top: -275px;
  padding-top: 20px;
  padding-bottom: 25px;
  position: fixed;
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
  color: rgb(211, 160, 20);
}

#form {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  margin-top: -20px;
  padding-top: 20px;
}

#form-call-to-action {
  font-family: helvetica, sans-serif;
  word-spacing: -2px;
  letter-spacing: -3px;
  color: white;
  width: 225px;
  text-align: left;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 35px;
  animation: transitionIn 2s;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: transitionIn 2.5s;

  input {
    width: 100%;
    height: 40px;
    font-size: 16px;
    letter-spacing: -1px;
    word-spacing: -2px;
    font-weight: 600;
  }
  button {
    height: 35px;
    width: 60%;
    font-size: 20px;
    letter-spacing: -1px;
    font-weight: 700;
    background-color: black;
    color: white;
    margin-top: 5px;
    border: none;
    text-shadow: 2px 2px 1px rgb(211, 160, 20);
    transition: 0.5s;
  }
  button:hover {
    border: 2px solid white;
    color: black;
    background-color: rgb(211, 160, 20);
  }
}

#about {
  color: white;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1500px;
  margin-top: -35px;
  animation: transitionIn 2s;

  h1 {
    font-family: helvetica, sans-serif;
    word-spacing: -2px;
    letter-spacing: -3px;
    color: white;
    width: 225px;
    text-align: left;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 35px;
  }
  p {
    margin-top: -10px;
    font-family: helvetica, sans-serif;
    word-spacing: -1px;
    letter-spacing: -2px;
    color: white;
    width: 65vw;
    height: 100vh;
    text-align: left;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 25px;
    font-weight: 550;
  }
  #wiki {
    margin-top: 5px;
  }
}

#members {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
  animation: transitionIn 2s;

  h2 {
    text-shadow: 2px 2px 1px black;
  }
  h3 {
    text-shadow: 2px 2px 1px black;
  }
  a {
    text-decoration: none;
    color: white;
  }
  .member-card {
    height: 350px;
    width: 250px;
    border: 2px solid white;
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    transition: 0.5s;
  }
  .member-card:hover {
    background-color: black;
    color: rgb(211, 160, 20);
    text-shadow: 2px 2px 2px white;
  }
  img {
    height: 200px;
  }
  button {
    height: 40px;
    width: 100px;
    margin-top: 25px;
    border: 2px solid white;
    background-color: black;
  }
  button:hover {
    background-color: rgb(211, 160, 20);
    color: white;
    text-shadow: 2px 2px 2px black;
  }
}

@media only screen and (max-width: 767px) {
  #deskNav {
    display: flex;
    flex-direction: column;
    #desk-ul {
      display: none;
      justify-content: flex-end;
      background-color: white;
      border: 5px solid black;
      h3 {
        color: black;
        padding-right: 15px;
        text-shadow: 2px 1px 2px rgb(211, 160, 20);
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  #burger {
    display: none;
  }
  #burger-menu {
    display: none;
  }
}
